<a href="https://colab.research.google.com/github/JOPloume/google-colab-notebooks/blob/main/data_preprocessing_tests.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Here some tests to preprocess datasets.

In [40]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [48]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/colab_notebooks/autos_predict.csv', sep=",")
df.head()

   Row.names        fit    se_fit  ...  se.fit_drive  se.fit_s_weight_  se.fit_s_hp.
0          1  21.004549  0.649519  ...      1.169621          0.488886      0.430747
1          2  21.004549  0.649519  ...      1.169621          0.488886      0.430747
2          3  17.547334  0.709550  ...      1.169621          0.607747      0.669556
3          4  23.823625  0.549217  ...      1.132888          0.396038      0.413609
4          5  20.597137  1.201011  ...      0.000000          0.607941      0.484633

[5 rows x 11 columns]